.places__sorting {
  user-select: none;
}

.places__sorting-caption {
  margin-right: 8px;
}

.places__sorting-arrow {
  transform: rotate(180deg) translateY(2px);
  transition: transform .2s;
}

.places__sorting-arrow--open {
  transform: rotate(0deg) translateY(-2px);
}
