.root {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.heading {
  color: #94bdff;
}

.link {
  font-size: 1.2em;
  text-decoration: underline;
}
